<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488345886262-flf6e73rpau7rsfn88qdm8ulq44smclt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488345886262-flf6e73rpau7rsfn88qdm8ulq44smclt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgwzFwVZ2ZM2IPBhabtt4JcBwfDclFNY</string>
	<key>GCM_SENDER_ID</key>
	<string>488345886262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mynotes.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutt-batie</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutt-batie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488345886262:ios:5935a305f63e8435f20297</string>
</dict>
</plist>